<div class="container">
  <h2>Devin le nombre !</h2>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <p class="card-text">Devine le nombre generé entre 1 et 100.</p>
    </div>
  </div>
  <div class="container-fluid">
    <label>Ton choix : </label>
    <input type="number" [value]="guess" (input)="guess = $any($event.target).value" />
    <button [disabled]="buttonDisabled" (click)="verifierDevin()" class="ml-1 btn btn-success btn-sm mr-1"> Verifier</button>
    <button (click)="initialiserJeu()" class="btn btn-warning btn-sm"> Reinitialiser</button>
  </div>
  <div>
    <p *ngIf="deviation===0 && noOfTriesRestant==5" class="alert alert-info">Il s'agit de votre première tentative. Bon courage!</p>
    <p *ngIf="deviation<0" class="alert alert-warning">Trop Grand.</p>
    <p *ngIf="deviation>0" class="alert alert-warning">Trop petit.</p>
    <p *ngIf="deviation===0 && noOfTriesRestant!=0 && noOfTries!=0" class="alert alert-success">Bravo! Tu as gagné.</p>
    <p *ngIf="noOfTriesRestant==0" class="alert alert-danger">Vous avez perdu.</p>
  </div>
  <p class="text-info">Nombre de tentatives effectués :
    <span class="badge badge-secondary">{{noOfTries}}</span>
  </p>

  <p class="text-info">Nombre de tentatives restantes :
    <span class="badge badge-danger">{{noOfTriesRestant}}</span>
  </p>
</div>
